<!-- menu.html -->
<div class="bg-gray-800 flex justify-center items-center w-full h-screen">
  <!-- Welcome message -->
  <div class="absolute top-6">
    <h1 class="text-4xl text-white">Welcome {{username}}</h1>
    <h1 class="text-2xl pt-2 text-white text-center xl:pt-6">
      {{date | date:'fullDate'}}
    </h1>
  </div>
  <!-- end of welcome message -->

  <!-- Wrapper div for options -->
  <div
    class="p-10 bg-gray-700 rounded-xl flex flex-col gap-y-1 items-center justify-center"
  >
    <!-- Category selection -->
    <div class="max-w-md mx-auto w-full">
      <label class="font-bold text-gray-50 block py-2">Select Category</label>
      <select
        ng-model="selectedCategory"
        class="h-10 bg-white border border-gray-200 rounded w-full px-4"
      >
        <option value="" disabled selected>Select Category</option>
        <option ng-repeat="category in categories" value="{{category.id}}">
          {{category.name}}
        </option>
      </select>
    </div>

    <!-- Number of Questions -->
    <div class="max-w-md mx-auto w-full mt-4">
      <label class="font-bold text-gray-50 block py-2"
        >Number of Questions</label
      >
      <input
        type="number"
        ng-model="numberOfQuestions"
        min="1"
        max="50"
        class="h-10 bg-white border border-gray-200 rounded w-full px-4"
      />
    </div>

    <!-- Difficulty selection -->
    <div class="max-w-md mx-auto w-full mt-4">
      <label class="font-bold text-gray-50 block py-2">Select Difficulty</label>
      <select
        ng-model="selectedDifficulty"
        class="h-10 bg-white border border-gray-200 rounded w-full px-4"
      >
        <option value="" disabled selected>Select Difficulty</option>
        <option ng-repeat="difficulty in difficulties" value="{{difficulty}}">
          {{difficulty | capitalize}}
        </option>
      </select>
    </div>

    <!-- Error message -->
    <div class="text-red-600 mt-2">{{errorMessage}}</div>

    <!-- Submit button -->
    <div
      class="w-40 h-10 text-white bg-indigo-600 font-medium rounded-lg text-center flex mt-7"
    >
      <button ng-click="submit()" class="mx-auto text-white">Submit</button>
    </div>
  </div>
</div>
